.title{
    margin-left: 500px;
}
.contact    {
    width: 700px;
    justify-content: center;
    margin-left: 150px;

    
        .button{
            display: flex;
            justify-content: space;
        }
    
}
